opencv-python-headless==4.6.0.66
opencv-contrib-python-headless==4.6.0.66
numpy==1.19.5
scipy==1.5.4
Pillow==8.4.0
Cython==3.0.11
matplotlib==3.3.4
scikit-image==0.17.2
Keras==2.0.8
h5py==2.10.0
#imgaug==0.4.0
ipykernel==5.5.6
ipyparallel==8.2.1
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.8.5